{% extends "layout.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block page %}Admin Dashboard{% endblock %}

{{ super() }}

{% block link%}
    <ul id="nav-mobile" class="right">
        <li><a href="/">Logout</a></li>
    </ul>
{% endblock %}



{% block content %}

<div style="display: flex; justify-content: center;  height: 12vh; margin-top: 8vh;">
   <form action="/addcompetition" method="get">
        <div class="card-action">
            <a href="/addcompetition"></a>
            <button class="blue text-white btn">Create Competition</button> 
        </form>
        </div>
    </div>

   <div style="display: flex; justify-content: center; align-items: center; height: vh;margin-top: vh;">
   <form action="/addresults" method="get">
     <div >
        <a href="/addresults"></a>
        <button class="blue text-white btn">Add Competition Results</button>
      </form>
      </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; height: 80 vh; margin-top: 8vh;">
        <form action="/ranking" method="get">
          <div >
             <a href="/ranking"></a>
             <button class="blue text-white btn">View Rankings</button>
           </form>
           </div>
         </div>
    {% endblock %}     
