{% extends "layout.html" %}
{% block title %}Rank My Coding{% endblock %}
{% block page %}Leaderboard{% endblock %}

{% block content %}
<body>
  <header class = "container" style = "text-align:center;margin-top:40px">
    Competitions that were previously added.
  </header>
</body>

<form class="col s12" method="POST" action="/ranking">
    <div class="row">
        <table style="margin-left: 20px;">
            <thead>
                <tr>
                    <th>     Rank</th>
                    <th>Student ID</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% set rank = 1 %}
                {% for result in leaderboard %}
                    <tr>
                        <td>{{ rank }}</td>
                        <td>{{ result.studentID}}</td>
                        <td>{{ result.score }}</td>
                    </tr>
                    {% set rank = rank + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


