{% extends "layout.html" %}
{% block title %}Rank My Coding{% endblock %}
{% block page %}Leaderboard{% endblock %}

{% block content %}
    <div class="row">
        <p>
            This leaderboard is rendered on the server. Flask retrieves student data from the database and dynamically renders this page when a request is sent to <a href="/student/leaderboard">/student/leaderboard</a>.
        </p>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% set rank = 1 %}
                {% for student in students %}
                    <tr>
                        <td>{{ rank }}</td>
                        <td>{{ user.student.fName }} {{ student.user.lName }}</td>
                        <td>{{ student.score }}</td>
                    </tr>
                    {% set rank = rank + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


