{% extends "layout.html" %}

{% block title %}Rank My Coding{% endblock %}

{% block page %}Rank My Coding{% endblock %}

{{ super() }}

{% block link %}
    <ul id="nav-mobile" class="right" = "display: flex">
        <li><a href="/">Welcome Page</a></li>
    </ul>
{% endblock %}


{% block content %}
<main class="container" style="margin-top:40px;justify-content: center;align-items: center;display: flex;" >
  
  <section class = "container">
    <h5>Choose Your Account Type:</h5>
  </section>

</main>

  <div style="display: flex; justify-content: center; height: 12vh; margin-top: 8vh;">
    <form action="/studentsignup" method="get">  
      <div class="card-action">
        <a href="/studentsignup"></a>
        <button class="blue text-white btn">Student Sign Up</button> 
      </div>
    </form>
   </div>

   <div style="display: flex; justify-content: center; align-items: center; height: vh;">
    <form action="/adminsignup" method="get">
      <div >
        <a href="/adminsignup"></a>
        <button class="blue text-white btn">Admin Sign Up</button>
      </div>
    </form>
   </div>

{% endblock %} 