{% extends "layout.html" %}
{% block title %}Student Sign Up{% endblock %}
{% block page %}Student Sign Up{% endblock %}

{% block link %}
    <ul id="nav-mobile" class="right">
        <li><a href="/studentlogin">Student Login</a></li>
    </ul>
    
    <ul id="nav-mobile" class="right">
      <li><a href="/">Welcome Page</a></li>
    </ul>
{% endblock %}

{% block content %}
<main class="container" style="margin-top: 100px;justify-content: center ;align-items: center;display: flex">
  <form class="card col s12" id="loginForm" method="POST" action="/signup" style="padding:2em; width: 700px">
     
    <div class = "row">
      <div class = "input-field col s12">
        <input placeholder = "First Name" name = "fName" type = "text" class = "validate">
        <label for = "first_name">First Name</label>
      </div>
    </div>

    <div class = "row">
      <div class = "input-field col s12">
        <input placeholder = "Last Name" name = "lName" type = "text" class = "validate">
        <label for = "last_name">Last Name</label>
      </div>
    </div>

    <div class = "row">
      <div class = "input-field col s12">
        <input placeholder = "Email" name = "email" type = "email" class = "validate">
        <label for = "new_email">Email</label>
      </div>
    </div>

    <div class = "row">
      <div class = "input-field col s12">
        <input placeholder = "User Name" name = "username" type = "text" class = "validate">
        <label for = "user_name">User Name</label>
      </div>
    </div>

    <div class = "row">
      <div class = "input-field col s12">
        <input placeholder = "Password" name = "password" type = "password" class = "validate">
        <label for = "password">Password</label>
      </div>
    </div>

    <div class="card-action; justify-content: right">
      <input type="submit" class="blue text-white btn">
    </div>

 </form>
</main>
{% endblock %}
 
