{% extends "layout.html" %}

{% block title %}Student Dashboard{% endblock %}

{% block page %}Student Dashboard{% endblock %}

{{ super() }}

{% block link%}
    <ul id="nav-mobile" class="right">
        <li><a href="/">Logout</a></li>
    </ul>
{% endblock %}



{% block content %}

<div style="display: flex; justify-content: center;  height: 12vh; margin-top: 8vh;">
   <form action="/viewprofile" method="get">  
        <div class="card-action">
            <a href="/viewprofile"></a>
            <button class="blue text-white btn">View Profile & Competitions</button> 
        </form>
        </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; height: vh;margin-top: vh;">
   <form action="/competitiondetails" method="get">
     <div >
        <a href="/competitiondetails""></a>
        <button class="blue text-white btn">View Competition Details</button>
      </form>
      </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; height: 80 vh; margin-top: 8vh;">
      <form action="/ranking" method="get">
        <div >
           <a href="/ranking"></a>
           <button class="blue text-white btn">View Rankings</button>
         </form>
         </div>
       </div>
    {% endblock %}     

