{% extends "layout.html" %}

{% block title %}Rank My Coding{% endblock %}

{% block page %}Profile & Competition{% endblock %}

{{ super() }}

{% block link%}
    <ul id="nav-mobile" class="right">
        <li><a href="/">Logout</a></li>
    </ul>

    <ul id = "nav-mobile" class = "left">
      <li><a href = "/">Back</a></li>
    </ul>

{% endblock %}

{% block content %}

<body>
  <header class = "container" style = "text-align:center;margin-top:40px">
    <h1>User Profile </h1>
  </header>

</body>

<div class="row">
    <table>
      <thead>
        <tr>
          <th>First name</th><th>Last name</th><th>Email</th><th>Username</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
              <td>{{user.fName}}</td>
              <td>{{user.lName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.username}}</td>
          </tr>
        {% endfor %}
      <tbody>
    </table>
  </div>
<header class= "container" style = "text-align:center;margin-top:40px">
    <h2>User Competitions</h2>
   </header> 
<main class="container" style="margin-top:40px;justify-content: center;align-items: center;display: flex" >
   
  <table>
    <thead>
      <th>Competition ID</th><th>Competition Name</th><th>Start Time</th><th>End Time</th><th>Details</th>
    </thead>
    <tbody>
      <tr>
        <td>COMPETITIONID01</td><td>Competition Name</td><td>Start</td><td>End</td><td>Details about competition.</td>
      <tr>
        <td>COMPETITIONID02</td><td>Competition Name</td><td>Start</td><td>End</td><td>Details about competition.</td>
      </tr>
    </tbody>
  </table>


</main>


{% endblock %} 
